body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f8f9fa;
}

.login-container {
	background: white;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 400px;
	text-align: center;
}

.register-container {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.btn {
	width: 100%;
	margin: 5px 0;
}

h2 {
	margin-bottom: 20px;
}

.form-control {
	margin: 5px 0;
}

.btn i {
	margin-right: 8px;
	font-size: 18px;
	vertical-align: middle;
}
